# Copy this file to .env and fill with your settings

# Flask secret key
SECRET_KEY=your_secret_key_here

# Supabase
SUPABASE_URL=https://ykclmdwstbmcdgtfdlhs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....
SUPABASE_DB_URL=postgresql://postgres:your_password@db.ykclmdwstbmcdgtfdlhs.supabase.co:5432/postgres

# Fallback DB
DATABASE_URL=sqlite:///scope_nexa.db
POSTGRES_URL=
